@include bv-font-face($icon-font-name, $icon-font-woff, $icon-font-ttf, $inline-fonts, $font-weight, $font-style, $icon-font-eot);

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: $book-fonts;
  a {
    @include set-link-colors($link-color);
  }
  i, em {
    font-style: italic;
  }
  body, input {
    font-family: inherit;
  }
  body, #main, #page {
    overflow: inherit;
    height: inherit;
    width: inherit;
  }
}

/** Global elements */

.element-invisible, .hidden {
  display: none;
  visibility: hidden;
}
