.pagemeta {
  @include box-shadow(none);
  @include bv-box-shadow($metadata-box-shadow);

  font-size: 14px;
  width: $metadata-pane-width;
  height: 100%;
  padding: 0;
  position: relative;
  z-index: 100;
  background-color: $pane-background;
  word-wrap: break-word;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  border-top: 1px solid rgba(0, 0, 0, 0.3);

  /* multivol */
  .view-mv select {
    max-width: 98%;
  }

  .container {
    padding: 0 0 0;
    margin: .6rem;

    .field {
      line-height: 1.4;
      margin-bottom: 5px;
    }

    .field-name-title {
      font-weight: bold;
      font-size: 1.3em;
      margin: .7rem 0 .5rem;
      line-height: 1.3;
    }

    .field-name-field-subtitle {
      border-bottom: 1px solid #ccc;
      font-weight: bold;
      font-size: 1.1em;

      // line-height: 1.25;
      margin: .5em 0;
      padding: 0 0 .5em 0;
    }

    .field-name-field-rights {
      margin-top: .5em;
      border-top: 1px solid #ccc;
      padding-top: .5em;
      font-size: .8em;
    }

    .field .field-label {
      font-weight: bold;
    }

    .field-name-field-pdf-file .field-item a:after {
      content: ", ";
      text-decoration: none;
      color: #000;
      margin-right: .2em;
    }

    .field-name-field-pdf-file .field-item:last-child a:after {
      content: "";
    }

    .metapane-dropdowns {
      border-bottom: 1px solid #ccc;
      padding-bottom: 1em;
      margin-bottom: .5em;
    }

    .lang-options {
      margin-bottom: 0;
    }

    .field-name-field-representative-image {
      img {
        max-width: 100%;
      }
    }

    .field-label-inline {
      word-wrap: break-word;
    }

    .field-label {
      display: inline-block;
      white-space: nowrap;
      float: none;
    }

    .field-name-field-subject {
      .field-item {
        &::after {
          content: ",";
          padding-right: 3px;
        }
      }

      .field-item:last-child {
        &::after {
          content: "";
          padding-right: 0px;
        }
      }
    }

    .field-name-field-language {
      .field-item {
        &:not(:last-child)::after {
          content: ",";
          padding-right: 3px;
        }
      }
    }

    .field-name-series-for-this-book {
      .field-label {
        display: block;
      }

      .field-items {
        display: block;
      }
    }

    .field-items {
      display: inline-block;
      word-wrap: break-word;
      float: none;
    }

    .field-item {
      display: inline-block;
    }

    .field-name-mv-2016 {
      .field-items,
      .field-item {
        display: block;
      }

      .ctools-jump-menu-hide {
        height: 0;
        width: 0;
      }
    }

    .field-name-field-author {
      .field-items, .field-item {
        display: block;
      }
    }

    .field-type-link-field {
      margin-top: .5em;
      border-top: 1px solid #ccc;
      padding-top: .5em;
    }
  }

  .field-name-field-notes-field .field-item {
    margin-bottom: .5rem;
  }
}

.main[dir="rtl"] {
  .pagemeta {
    float: right;
    border-right: none;
    border-left: 1px solid #ccc;
    direction: rtl;

    .field-name-field-rights {
      .field-item {
        direction: ltr;
        text-align: right;
      }
    }
  }

  .field-label-inline .field-label,
  .field-label-inline .field-items {
    float: none;
  }
}

.main[dir="ltr"] {
  .pagemeta {
    float: left;
    border-left: none;
    border-right: 1px solid #ccc;
    direction: ltr;
  }
}
