@mixin bv-box-shadow($shadows) {
  @include box-shadow($shadows);
}
@mixin bv-text-shadow($shadows) {
  @include text-shadow($shadows);
}

@mixin embossed-gradient($base-background-color, $start-background-color: rgb(227,227,227), $end-background-color: rgb(17,17,17), $opac1: .5, $opac2: 0, $opac3: 0, $opac4: .5, $pos1: 0%, $pos2: 15%, $pos3: 92%, $pos4: 110%) {
  // Old IEs fallback
  background: $base-background-color;
  @include background-image(linear-gradient(rgba(blend-softlight($base-background-color, $start-background-color ), $opac1) $pos1, rgba($base-background-color, $opac2 ) $pos2, rgba(blend-softlight($base-background-color, $end-background-color ), $opac3) $pos3, rgba(blend-softlight($base-background-color, $end-background-color ), $opac4) $pos4));
  
}

@mixin gradient($start-color, $end-color) {
  background: $start-color; /* Old browsers */
  background: -moz-linear-gradient(left, $start-color 0%, $end-color 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,$start-color), color-stop(100%,$end-color)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, $start-color 0%,$end-color 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, $start-color 0%,$end-color 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, $start-color 0%,$end-color 100%); /* IE10+ */
  background: linear-gradient(to right, $start-color 0%,$end-color 100%); /* W3C */
  // these variables need to be escaped like so '#{$top}'
  /* http://640kb.corywatilo.com/making-gradients-work-in-internet-explorer-as */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= '#{$start-color}', endColorstr='#{$end-color}',GradientType=1); /* IE6-9 */
}


// Create Link colors
@mixin set-link-colors($link-color, $mode: saturation default, $amount-1: 10%, $amount-2: -20%) {
  
  $link-color-over: adjust-saturation($link-color, $amount-1);
  $link-color-visited: adjust-saturation($link-color, $amount-2);
  
  @if $mode == lightness { 
    $link-color-over: adjust-lightness($link-color, $amount-1);
    $link-color-visited: adjust-lightness($link-color, $amount-2);
  }
  
  @include hover-link;
  @include link-colors($link-color,
                        $hover: $link-color-over,
                        $active: $link-color-over,
                        $visited: $link-color-visited,
                        $focus: $link-color-over
                     );
}

// Icon Fonts and non system fonts
@mixin bv-font-face($font-name, $font-woff, $font-ttf, $inline-fonts: false, $font-style:normal, $font-weight:normal, $eot:false) {
  @if $inline-fonts and $font-name { @include font-face($font-name, inline-font-files($font-woff, woff, $font-ttf, truetype ), $eot, $font-weight, $font-style); }
  @else if $font-name { @include font-face($font-name, font-files($font-woff, woff, $font-ttf, truetype ), $eot, $font-weight, $font-style); }
}

@mixin bv-font-faced($font-name: false) {
  @if $font-name { font-family: $font-name; }
}

@mixin bv-animation-loop($animation-name, $animation-segments-width-padding, $animation-segments-total, $animation-duration, $animation-start-offset) {
  
  $animation-ingrements:($animation-duration - $animation-start-offset) / $animation-segments-total;
  
  @for $i from 1 through $animation-segments-total {
    ##{$animation-name}_#{$i} {
      left:($i - 1) * $animation-segments-width-padding;
      @include animation-delay($animation-start-offset +($animation-ingrements *($i)));
    }
  }
}

